<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Stats</title>
    <link rel="stylesheet" href="css/stats.css">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>

<body>
    <% if(locals.message){ %>
    <div id="alert">
        <%=message.alert%>
    </div>
    <% } %>

    <div id="container">
        <div>
            <h2>'19 - '20 SEASON AVERAGES</h2>
        </div>

        <div id="player">
            <h3><%= fn %> <%= ln %></h3>
            <h5> Position: <%= position %> | Team: <%= team %></h5>
        </div>

        <div>
            <table class="table1">
                <tr>
                    <th>GP</th>
                    <th>MIN</th>
                    <th>FGM</th>
                    <th>FGA</th>
                    <th>FG_PCT</th>
                    <th>FG3M</th>
                    <th>FG3A</th>
                    <th>FG3_PCT</th>
                    <th>FTM</th>
                    <th>FTA</th>
                    <th>FT_PCT</th>
                    <th>OREB</th>
                    <th>DREB</th>
                    <th>REB</th>
                    <th>AST</th>
                    <th>STL</th>
                    <th>BLK</th>
                    <th>TO</th>
                    <th>PF</th>
                    <th>PTS</th>
                </tr>
                <tr>
                    <td><%= games_played  %></td>
                    <td><%= min %></td>
                    <td><%= fgm %></td>
                    <td><%= fga %></td>
                    <td><%= fg_pct %></td>
                    <td><%= fg3m %></td>
                    <td><%= fg3a %></td>
                    <td><%= fg3_pct %></td>
                    <td><%= ftm %></td>
                    <td><%= fta  %></td>
                    <td><%= ft_pct %></td>
                    <td><%= oreb  %></td>
                    <td><%= dreb %></td>
                    <td><%= reb  %></td>
                    <td><%= ast %></td>
                    <td><%= stl %></td>
                    <td><%= blk %></td>
                    <td><%= turnover %></td>
                    <td><%= pf %></td>
                    <td><%= pts %></td>


                </tr>
            </table>

        </div>
    </div>

    <hr>

    <div class="next">
        <div class="header">
            <h2>LAST TEN</h2>

        </div>

        <div class="dropdown">
            <button id="button" onclick="myFunction()" class="dropbtn">PTS</button>
            <div id="myDropdown" class="dropdown-content">
                <li onclick="fgm()">FGM</li>
                <li onclick="fga()">FGA</li>
                <li onclick="fg_pct()">FG_PCT</li>
                <li onclick="fg3m()">FG3M</li>
                <li onclick="fg3a()">FG3A</li>
                <li onclick="fg3_pct()">FG3_PCT</li>
                <li onclick="ftm()">FTM</li>
                <li onclick="fga()">FTA</li>
                <li onclick="ft_pct()">FT_PCT</li>
                <li onclick="of_reb()">OREB</li>
                <li onclick="def_reb()">DREB</li>
                <li onclick="reb()">REB</li>
                <li onclick="ast()">AST</li>
                <li onclick=stl()>STL</li>
                <li onclick="blk()">BLK</li>
                <li onclick="turnover()">TO</li>
                <li onclick="pf()">PF</li>
                <li onclick="pts()">PTS</li>
            </div>

        </div>

    </div>

    <div id="chart" style="width:600px; height:300px; margin: 0 auto">
        <canvas id="myChart"></canvas>
    </div>

    <hr>

    <div class="next">
        <div class="header">
            <h2>LAST TEN GAME STATS</h2>

        </div>
    </div>

    <div>
        <div>
            <table class="table2">
                <tr>
                    <th>OPP</th>
                    <th>MIN</th>
                    <th>FGM</th>
                    <th>FGA</th>
                    <th>FG_PCT</th>
                    <th>FG3M</th>
                    <th>FG3A</th>
                    <th>FG3_PCT</th>
                    <th>FTM</th>
                    <th>FTA</th>
                    <th>FT_PCT</th>
                    <th>OREB</th>
                    <th>DREB</th>
                    <th>REB</th>
                    <th>AST</th>
                    <th>STL</th>
                    <th>BLK</th>
                    <th>TO</th>
                    <th>PF</th>
                    <th>PTS</th>
                </tr>
                <tr>
                    <td><%= game_date10 %> vs <%= opponent10 %></td>
                    <td><%= min10  %></td>
                    <td><%= fgm10 %></td>
                    <td><%= fga10 %></td>
                    <td><%= fg_pct10 %></td>
                    <td><%= fg3m10 %></td>
                    <td><%= fg3a10 %></td>
                    <td><%= fg3_pct10 %></td>
                    <td><%= ftm10 %></td>
                    <td><%= fta10 %></td>
                    <td><%= ft_pct10 %></td>
                    <td><%= oreb10 %></td>
                    <td><%= dreb10 %></td>
                    <td><%= reb10 %></td>
                    <td><%= a10 %></td>
                    <td><%= stl10 %></td>
                    <td><%= b10 %></td>
                    <td><%= turnover10 %></td>
                    <td><%= pf10 %></td>
                    <td><%= pts10 %></td>
                </tr>
                <tr>
                    <td><%= game_date9 %> vs <%= opponent9 %></td>
                    <td><%= min9  %></td>
                    <td><%= fgm9 %></td>
                    <td><%= fga9 %></td>
                    <td><%= fg_pct9 %></td>
                    <td><%= fg3m9 %></td>
                    <td><%= fg3a9 %></td>
                    <td><%= fg3_pct9 %></td>
                    <td><%= ftm9 %></td>
                    <td><%= fta9 %></td>
                    <td><%= ft_pct9 %></td>
                    <td><%= oreb9 %></td>
                    <td><%= dreb9 %></td>
                    <td><%= reb9 %></td>
                    <td><%= a9 %></td>
                    <td><%= stl9 %></td>
                    <td><%= b9 %></td>
                    <td><%= turnover9 %></td>
                    <td><%= pf9 %></td>
                    <td><%= pts9 %></td>
                </tr>
                <tr>
                    <td><%= game_date8 %> vs <%= opponent8 %></td>
                    <td><%= min8  %></td>
                    <td><%= fgm8 %></td>
                    <td><%= fga8 %></td>
                    <td><%= fg_pct8 %></td>
                    <td><%= fg3m8 %></td>
                    <td><%= fg3a8 %></td>
                    <td><%= fg3_pct8 %></td>
                    <td><%= ftm8 %></td>
                    <td><%= fta8 %></td>
                    <td><%= ft_pct8 %></td>
                    <td><%= oreb8 %></td>
                    <td><%= dreb8 %></td>
                    <td><%= reb8 %></td>
                    <td><%= a8 %></td>
                    <td><%= stl8 %></td>
                    <td><%= b8 %></td>
                    <td><%= turnover8 %></td>
                    <td><%= pf8 %></td>
                    <td><%= pts8 %></td>
                </tr>
                <tr>
                    <td><%= game_date7 %> vs <%= opponent7 %></td>
                    <td><%= min7 %></td>
                    <td><%= fgm7 %></td>
                    <td><%= fga7 %></td>
                    <td><%= fg_pct7 %></td>
                    <td><%= fg3m7 %></td>
                    <td><%= fg3a7 %></td>
                    <td><%= fg3_pct7 %></td>
                    <td><%= ftm7 %></td>
                    <td><%= fta7 %></td>
                    <td><%= ft_pct7 %></td>
                    <td><%= oreb7 %></td>
                    <td><%= dreb7 %></td>
                    <td><%= reb7 %></td>
                    <td><%= a7 %></td>
                    <td><%= stl7 %></td>
                    <td><%= b7 %></td>
                    <td><%= turnover7 %></td>
                    <td><%= pf7 %></td>
                    <td><%= pts7 %></td>
                </tr>
                <tr>
                    <td><%= game_date6 %> vs <%= opponent6 %></td>
                    <td><%= min6  %></td>
                    <td><%= fgm6 %></td>
                    <td><%= fga6 %></td>
                    <td><%= fg_pct6 %></td>
                    <td><%= fg3m6 %></td>
                    <td><%= fg3a6 %></td>
                    <td><%= fg3_pct6 %></td>
                    <td><%= ftm6 %></td>
                    <td><%= fta6 %></td>
                    <td><%= ft_pct6 %></td>
                    <td><%= oreb6 %></td>
                    <td><%= dreb6 %></td>
                    <td><%= reb6 %></td>
                    <td><%= a6 %></td>
                    <td><%= stl6 %></td>
                    <td><%= b6 %></td>
                    <td><%= turnover6 %></td>
                    <td><%= pf6 %></td>
                    <td><%= pts6 %></td>
                </tr>
                <tr>
                    <td><%= game_date5 %> vs <%= opponent5 %></td>
                    <td><%= min5  %></td>
                    <td><%= fgm5 %></td>
                    <td><%= fga5 %></td>
                    <td><%= fg_pct5 %></td>
                    <td><%= fg3m5 %></td>
                    <td><%= fg3a5 %></td>
                    <td><%= fg3_pct5 %></td>
                    <td><%= ftm5 %></td>
                    <td><%= fta5 %></td>
                    <td><%= ft_pct5 %></td>
                    <td><%= oreb5 %></td>
                    <td><%= dreb5 %></td>
                    <td><%= reb5 %></td>
                    <td><%= a5 %></td>
                    <td><%= stl5 %></td>
                    <td><%= b5 %></td>
                    <td><%= turnover5 %></td>
                    <td><%= pf5 %></td>
                    <td><%= pts5 %></td>
                </tr>
                <tr>
                    <td><%= game_date4 %> vs <%= opponent4 %></td>
                    <td><%= min4  %></td>
                    <td><%= fgm4 %></td>
                    <td><%= fga4 %></td>
                    <td><%= fg_pct4 %></td>
                    <td><%= fg3m4 %></td>
                    <td><%= fg3a4 %></td>
                    <td><%= fg3_pct4 %></td>
                    <td><%= ftm4 %></td>
                    <td><%= fta4 %></td>
                    <td><%= ft_pct4 %></td>
                    <td><%= oreb4 %></td>
                    <td><%= dreb4 %></td>
                    <td><%= reb4 %></td>
                    <td><%= a4 %></td>
                    <td><%= stl4 %></td>
                    <td><%= b4 %></td>
                    <td><%= turnover4 %></td>
                    <td><%= pf4 %></td>
                    <td><%= pts4 %></td>
                </tr>
                <tr>
                    <td><%= game_date3 %> vs <%= opponent3 %></td>
                    <td><%= min3  %></td>
                    <td><%= fgm3 %></td>
                    <td><%= fga3 %></td>
                    <td><%= fg_pct3 %></td>
                    <td><%= fg3m3 %></td>
                    <td><%= fg3a3 %></td>
                    <td><%= fg3_pct3 %></td>
                    <td><%= ftm3 %></td>
                    <td><%= fta3 %></td>
                    <td><%= ft_pct3 %></td>
                    <td><%= oreb3 %></td>
                    <td><%= dreb3 %></td>
                    <td><%= reb3 %></td>
                    <td><%= a3 %></td>
                    <td><%= stl3 %></td>
                    <td><%= b3 %></td>
                    <td><%= turnover3 %></td>
                    <td><%= pf3 %></td>
                    <td><%= pts3 %></td>
                </tr>
                <tr>
                    <td><%= game_date2 %> vs <%= opponent2 %></td>
                    <td><%= min2 %></td>
                    <td><%= fgm2 %></td>
                    <td><%= fga2 %></td>
                    <td><%= fg_pct2 %></td>
                    <td><%= fg3m2 %></td>
                    <td><%= fg3a2 %></td>
                    <td><%= fg3_pct2 %></td>
                    <td><%= ftm2 %></td>
                    <td><%= fta2 %></td>
                    <td><%= ft_pct2 %></td>
                    <td><%= oreb2 %></td>
                    <td><%= dreb2 %></td>
                    <td><%= reb2 %></td>
                    <td><%= a2 %></td>
                    <td><%= stl2 %></td>
                    <td><%= b2 %></td>
                    <td><%= turnover2 %></td>
                    <td><%= pf2 %></td>
                    <td><%= pts2 %></td>
                </tr>
                <tr>
                    <td><%= game_date1 %> vs <%= opponent1 %></td>
                    <td><%= min1  %></td>
                    <td><%= fgm1 %></td>
                    <td><%= fga1 %></td>
                    <td><%= fg_pct1 %></td>
                    <td><%= fg3m1 %></td>
                    <td><%= fg3a1 %></td>
                    <td><%= fg3_pct1 %></td>
                    <td><%= ftm1 %></td>
                    <td><%= fta1 %></td>
                    <td><%= ft_pct1 %></td>
                    <td><%= oreb1 %></td>
                    <td><%= dreb1 %></td>
                    <td><%= reb1 %></td>
                    <td><%= a1 %></td>
                    <td><%= stl1 %></td>
                    <td><%= b1 %></td>
                    <td><%= turnover1 %></td>
                    <td><%= pf1 %></td>
                    <td><%= pts1 %></td>
                </tr>
            </table>

        </div>

    </div>

    <script>

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        var data = [<%= pts1 %>, <%= pts2 %>,<%= pts3 %>,<%= pts4 %>,<%= pts5 %>,<%= pts6 %>,<%= pts7 %>,<%= pts8 %>,<%= pts9 %>,<%= pts10 %>];
        // console.log(data)
        // console.log(Math.max(...data))
        var name = "<%- fn %>" + " " + "<%- ln %>";
        var ctx = document.getElementById('myChart');
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                    '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                    '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                datasets: [{
                    fill: false,
                    label: name,
                    borderWidth: 2,
                    borderColor: 'rgb(255, 99, 132)',
                    data: data,
                    backgroundColor: 'rgb(255, 99, 132)',
                    pointStyle: "circle",
                    pointBackgroundColor: 'rgb(255, 99, 132)',
                    pointRadius: 3.5,
                    pointHoverBorderColor: "white",
                }]
            },

            // Configuration options go here
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: false,
                },
                legend: {
                    position: 'bottom',
                    labels: {
                        fontColor: "white",
                        boxWidth: 3.5,
                        usePointStyle: true

                    },
                    onClick: function (e) {
                        e.stopPropagation();
                    }
                },

                layout: {
                    padding: {
                        right: 6,
                    }
                },

                scales: {
                    xAxes: [{
                        ticks: {
                            display: false,
                            beginAtZero: true,

                        },
                        gridLines: {
                            color: "white",
                            tickMarkLength: 7,

                            drawOnChartArea: false,

                        }
                    }],
                    yAxes: [{
                        ticks: {
                            fontColor: "white",
                            beginAtZero: true,
                            // max: Math.max(...data),
                            // stepSize: 1                     

                        },
                        gridLines: {
                            tickMarkLength: 7,
                            color: "white",
                            drawOnChartArea: false,

                        }
                    }]
                }
            }
        });



        function pts() {
            document.getElementById("button").innerText = "PTS";
            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= pts1 %>, <%= pts2 %>,<%= pts3 %>,<%= pts4 %>,<%= pts5 %>,<%= pts6 %>,<%= pts7 %>,<%= pts8 %>,<%= pts9 %>,<%= pts10 %>]
            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",

                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: 'white',
                            boxWidth: 3.5,
                            usePointStyle: true,
                            // fontColor: 'white',
                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                // max: Math.max(...data),
                                // stepSize: 1                     

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }

        function turnover() {
            document.getElementById("button").innerText = "TO";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);


            var data = [<%= turnover1 %>, <%= turnover2 %>,<%= turnover3 %>,<%= turnover4 %>,<%= turnover5 %>,<%= turnover6 %>,<%= turnover7 %>,<%= turnover8 %>,<%= turnover9 %>,<%= turnover10 %>]

            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                // max: Math.max(...data),
                                stepSize: 1

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }
        function stl() {
            document.getElementById("button").innerText = "STL";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= stl1 %>, <%= stl2 %>,<%= stl3 %>,<%= stl4 %>,<%= stl5 %>,<%= stl6 %>,<%= stl7 %>,<%= stl8 %>,<%= stl9 %>,<%= stl10 %>]

            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                // max: Math.max(...data),
                                stepSize: 1

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }

        function reb() {
            document.getElementById("button").innerText = "REB";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= reb1 %>, <%= reb2 %>,<%= reb3 %>,<%= reb4 %>,<%= reb5 %>,<%= reb6 %>,<%= reb7 %>,<%= reb8 %>,<%= reb9 %>,<%= reb10 %>];

            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                // max: Math.max(...data),
                                stepSize: 1

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }
        function pf() {
            document.getElementById("button").innerText = "PF";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= pf1 %>, <%= pf2 %>,<%= pf3 %>,<%= pf4 %>,<%= pf5 %>,<%= pf6 %>,<%= pf7 %>,<%= pf8 %>,<%= pf9 %>,<%= pf10 %>]

            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                // max: Math.max(...data),
                                max: 6,
                                stepSize: 1

                            },
                            gridLines: {
                                tickMarkLength: 7,

                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }
        function of_reb() {
            document.getElementById("button").innerText = "OREB";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= oreb1 %>, <%= oreb2 %>,<%= oreb3 %>,<%= oreb4 %>,<%= oreb5 %>,<%= oreb6 %>,<%= oreb7 %>,<%= oreb8 %>,<%= oreb9 %>,<%= oreb10 %>]

            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                // max: Math.max(...data),
                                stepSize: 1

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }
        function ftm() {
            document.getElementById("button").innerText = "FTM";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= ftm1 %>, <%= ftm2 %>,<%= ftm3 %>,<%= ftm4 %>,<%= ftm5 %>,<%= ftm6 %>,<%= ftm7 %>,<%= ftm8 %>,<%= ftm9 %>,<%= ftm10 %>];

            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                suggestedMax: Math.max(...data),
                                // suggestedMin: Math.min(...data),
                                stepSize: 1

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }
        function fta() {
            document.getElementById("button").innerText = "FTA";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= fta1 %>, <%= fta2 %>,<%= fta3 %>,<%= fta4 %>,<%= fta5 %>,<%= fta6 %>,<%= fta7 %>,<%= fta8 %>,<%= fta9 %>,<%= fta10 %>]

            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,

                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                // max: Math.max(...data),
                                stepSize: 1

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }
        function ft_pct() {
            document.getElementById("button").innerText = "FT_PCT";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= ft_pct1 %>, <%= ft_pct2 %>,<%= ft_pct3 %>,<%= ft_pct4 %>,<%= ft_pct5 %>,<%= ft_pct6 %>,<%= ft_pct7 %>,<%= ft_pct8 %>,<%= ft_pct9 %>,<%= ft_pct10 %>]

            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                suggestedMax: Math.max(...data),
                                stepSize: 25

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }
        function fgm() {
            document.getElementById("button").innerText = "FGM";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= fgm1 %>, <%= fgm2 %>,<%= fgm3 %>,<%= fgm4 %>,<%= fgm5 %>,<%= fgm6 %>,<%= fgm7 %>,<%= fgm8 %>,<%= fgm9 %>,<%= fgm10 %>]

            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        fontColor: "white",
                        position: 'bottom',
                        labels: {
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                // max: Math.max(...data),
                                stepSize: 2

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }
        function fga() {
            document.getElementById("button").innerText = "FGA";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= fga1 %>, <%= fga2 %>,<%= fga3 %>,<%= fga4 %>,<%= fga5 %>,<%= fga6 %>,<%= fga7 %>,<%= fga8 %>,<%= fga9 %>,<%= fga10 %>]

            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                // max: Math.max(...data),
                                stepSize: 2

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }
        function fg_pct() {
            document.getElementById("button").innerText = "FG_PCT";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= fg_pct1 %>, <%= fg_pct2 %>,<%= fg_pct3 %>,<%= fg_pct4 %>,<%= fg_pct5 %>,<%= fg_pct6 %>,<%= fg_pct7 %>,<%= fg_pct8 %>,<%= fg_pct9 %>,<%= fg_pct10 %>]

            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                max: 100,
                                stepSize: 20

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }
        function fg3m() {
            document.getElementById("button").innerText = "FG3M";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= fg3m1 %>, <%= fg3m2 %>,<%= fg3m3 %>,<%= fg3m4 %>,<%= fg3m5 %>,<%= fg3m6 %>,<%= fg3m7 %>,<%= fg3m8 %>,<%= fg3m9 %>,<%= fg3m10 %>]

            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {

                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                // max: Math.max(...data),
                                stepSize: 1

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }


        function fg3a() {
            document.getElementById("button").innerText = "FG3A";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= fg3a1 %>, <%= fg3a2 %>,<%= fg3a3 %>,<%= fg3a4 %>,<%= fg3a5 %>,<%= fg3a6 %>,<%= fg3a7 %>,<%= fg3a8 %>,<%= fg3a9 %>,<%= fg3a10 %>]
            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                // max: Math.max(...data),
                                stepSize: 1

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }
        function fg3_pct() {
            document.getElementById("button").innerText = "FG3_PCT";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= fg3_pct1 %>, <%= fg3_pct2 %>,<%= fg3_pct3 %>,<%= fg3_pct4 %>,<%= fg3_pct5 %>,<%= fg3_pct6 %>,<%= fg3_pct7 %>,<%= fg3_pct8 %>,<%= fg3_pct9 %>,<%= fg3_pct10 %>]

            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                max: 100,
                                stepSize: 20

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }
        function def_reb() {
            document.getElementById("button").innerText = "DREB";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= dreb1 %>, <%= dreb2 %>,<%= dreb3 %>,<%= dreb4 %>,<%= dreb5 %>,<%= dreb6 %>,<%= dreb7 %>,<%= dreb8 %>,<%= dreb9 %>,<%= dreb10 %>]

            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                // max: Math.max(...data),
                                stepSize: 1

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }
        function blk() {
            document.getElementById("button").innerText = "BLK";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= b1 %>, <%= b2 %>,<%= b3 %>,<%= b4 %>,<%= b5 %>,<%= b6 %>,<%= b7 %>,<%= b8 %>,<%= b9 %>,<%= b10 %>]

            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                // max: Math.max(...data),
                                stepSize: 1

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }


        function ast() {
            document.getElementById("button").innerText = "AST";

            var graph = document.getElementById("myChart")
            graph.remove();
            var mycanvas = document.createElement("canvas");
            mycanvas.id = "myChart";


            document.getElementById('chart').appendChild(mycanvas);

            var data = [<%= a1 %>, <%= a2 %>,<%= a3 %>,<%= a4 %>,<%= a5 %>,<%= a6 %>,<%= a7 %>,<%= a8 %>,<%= a9 %>,<%= a10 %>]

            var name = "<%- fn %>" + " " + "<%- ln %>";
            var ctx = document.getElementById('myChart');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['<%= game_date1%> vs <%= opponent1 %>', '<%= game_date2 %> vs <%= opponent2 %>', '<%= game_date3 %> vs <%= opponent3 %>', '<%= game_date4 %> vs <%= opponent4 %>',
                        '<%= game_date5 %> vs <%= opponent5 %>', '<%= game_date6 %> vs <%= opponent6 %>', '<%= game_date7 %> vs <%= opponent7 %>', '<%= game_date8 %> vs <%= opponent8 %>',
                        '<%= game_date9 %> vs <%= opponent9 %>', '<%= game_date10 %> vs <%= opponent10 %>'],
                    datasets: [{
                        fill: false,
                        label: name,
                        borderWidth: 2,
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                        backgroundColor: 'rgb(255, 99, 132)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointRadius: 3.5,
                        pointHoverBorderColor: "white",
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            boxWidth: 3.5,
                            usePointStyle: true

                        },
                        onClick: function (e) {
                            e.stopPropagation();
                        }
                    },

                    layout: {
                        padding: {
                            right: 6,
                        }
                    },

                    scales: {
                        xAxes: [{
                            ticks: {
                                display: false,
                                beginAtZero: true,

                            },
                            gridLines: {
                                color: "white",
                                tickMarkLength: 7,
                                drawOnChartArea: false,

                            }
                        }],
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true,
                                // max: Math.max(...data),
                                stepSize: 1

                            },
                            gridLines: {
                                tickMarkLength: 7,
                                color: "white",
                                drawOnChartArea: false,

                            }
                        }]
                    }
                }
            });
        }
    </script>
</body>

</html>